.bigdatafields .page { padding-top: 80px;}

.bigdatafields .pageheader {
	height: 80px;
	font-size: 50px;
	line-height: 80px;
}

.bigdatafields .datacells_top, .bigdatafields .datacells_bottom {
	height: 210px;
}

/* Bigger datacells */

.bigdatafields .datacell {
	width: 33.3333%;
	height: 210px;
}

.bigdatafields .datacell .label { font-size: 35px; }
.bigdatafields .datacell .value { font-size: 100px; }

.bigdatafields .datacell.smallfont .number { font-size: 0.7em; }

.bigdatafields .datacell:nth-child(n+4) { display: none; }

.bigdatafields #tasklist {
    padding-top: calc(80px + 0.5rem);
}

.bigdatafields #systemconfig {
    padding-top: 80px;
}

.bigdatafields .configpanel {
	top: 80px;
	height: calc(100% - 80px);
}

.bigdatafields #coursepointer {
	top: 310px;
}