
/* ---------- */

.mp {
	font-size: 3rem;
	padding: 0.5em;
}

.mp.inactive {
    display: none;
}

.mp p {
	font-size: 3rem;
	line-height: 1.6;
}

#mpform {
	display: flex;
	position: relative;
	margin-bottom: 2rem;
}

#mpform input, #mpform button, #addEvent input {
	font-size: 3rem;
	padding: 0.5rem 1rem;
}

#mpform #username {
	width: 70%;
}

#mpform input[type='submit'] {
	width: 25%;
}

#userlist {
	width: 100%;
}

#userlist th {
	text-align: left;
}

#userlist td, #userlist th {
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #666;
}

#userlist .alignright {
	text-align: right;
}

#userlist .mpusername {
	max-width: 5.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#events, #mp_mainswitch {
    background: #333;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    display: none;
}

.eventheader {
    margin: 1em 0 0.5em;
}

.notConnected #mp_mainswitch {
    display: block;
}

.noEvent #events {
    display: block;
}

#eventlist li, #addEvent, #addEventLink {
    display: block;
    list-style: none;
    padding: 0.5em;
    background-color: #444;
    border: 1px solid #888;
    margin-bottom: 0.5em;
    color: #fff;
    text-decoration: none;
}

.timeinput {
    display: flex;
    flex-direction: row;
    margin: 1em 0;
}

.timeinput input {
    width: 2em;
    margin: 0 0.5em;
    position: relative;
    top: -0.25em;
}

#addEvent {
    overflow: hidden;
    max-height: 0;
    padding: 0 0.5em;
    border: 1px solid #333;
    transition: all 0.3s;
}

#addEvent.on {
    max-height: 600px;
    padding: 0.5em;
    border: 1px solid #888;
}

#eventlist li {
    position: relative;
}

.eventClickhandler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Main switch */

#mp_mainswitch a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #fff;
    background-color: darkgreen;
    color: #fff;
    line-height: 280px;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: -150px 0 0 -150px;
}

#countdown {
    display: none;
    position: absolute;
    width: 100%;
    height: 600px;
    left: 0;
    top: 50%;
    margin-top: -300px;
    line-height: 580px;
    text-align: center;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.8);
}

.mplabel {
    position: absolute;
    top: -1em;
    left: 70%;
    background-color: #fff;
    color: #333;
    padding: 0 0.1em 0.1em 0.1em;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.1em;
    transform-origin: 50% 50%;
    overflow: hidden;
    max-width: 5.5em;
    white-space: nowrap;
}

