/* TASKPAGE */

#tasklist {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #444;
    overflow: auto;
    color: #fff;
    padding-top: calc(25px + 0.5rem);
    padding-right: 4px;
    font-size: 1.8rem;
}

.bigdatafields #tasklist {
    font-size: 2.8rem;
}

/* Task Header in various states */

#tasklist header {
    background-color: #222;
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0.5em 0 1em 0;
}

.task-alerts {
    padding: 0.5em;
    background-color: #e7a508;
    color: #000;
        margin-bottom: 0.5em;
}

#tasklist .headline span { display: none; margin-bottom: 0.5em;}
.task-failures, .task-alerts { display: none; }
#tasklist.task_not_started .headline span.header_prestart { display: block; font-size: 2em;}
#tasklist.task_not_started .task-timer, #tasklist.task_not_started .task-distanceleft, #tasklist.task_not_started .task-average { display: none; }

#tasklist.task_started .headline span.header_running { display: block; font-size: 1em;}
#tasklist.task_started .task-totaldistance, #tasklist.task_started .task-average { display: none;}

#tasklist.task_finished .headline span.header_finished { display: block; font-size: 1em; }
#tasklist.task_finished .task-distanceleft, #tasklist.task_finished .task-arrivalheight { display: none;}

#tasklist.task_finished header { background-color: #0d8b3c; }
#tasklist.task_finished .task-state>div { border-color: #0d8b3c; }

#tasklist.task_failed .headline span.header_failed { display: block; font-size: 2em; }
#tasklist.task_failed .task-state>div { display: none; }
#tasklist.task_failed .task-state .task-failures { display: block; }
#tasklist.task_failed header { background-color: #cc0000; }
#tasklist.task_failed .task-state>div { border-color: #cc0000; }

.task-state { display: flex; justify-content: space-around; }
.task-state>div { padding: 0.5em; background-color: rgba(255,255,255,0.1); width: 100%; border: 2px solid #222; }
.task-state .number { font-size: 1.8em;}

.bigdatafields .task-state .number { font-size: 1.4em;}

.task-state>div.finishalt_ok {
    background-color: #0d8b3c;
    color: #fff;
}

/* TASK WP */

#wp-template { display: none; }

.task-waypoint.iscurrentwp {
     border: 2px solid orange;
}

.task-waypoint {
    position: relative;
    background-color: #222;
    margin-bottom: 0.5em;
    padding: 0.5em;
}

.task-waypoint .header {
    font-size: 1.5em;
    padding-bottom: 0.2em;
    padding-right: 1.8em;
}

.task-waypoint .badge {
    display: none;
    position: absolute;
    top: var(--horizontalpadding);
    right: var(--horizontalpadding);
    padding: 0 var(--horizontalpadding);
    border-radius: 3px;
}

.wp-main { display: flex; justify-content: space-around; }
.wp-main>div { padding: 0.5em; background-color: rgba(255,255,255,0.1); width: 100%; border: 2px solid #222; text-align:center; }
.wp-main .number { font-size: 2em;}
.wp-data .label { white-space: nowrap; }

.wp-data.alert, .alert {
    background-color: #cc0000;
    color: #fff;
}

.wp-minmax .alert { padding: 0.1em 0.5em; }

.bigdatafields .wp-data.ete { display: none; }

.wp-details {
    display: flex;
    justify-content: space-between;
    height: 5em;
    overflow: hidden;
    transition: all 0.2s;
}

.bigdatafields .wp-details { height: 1px; }

.bigdatafields .expanded .wp-details {
    height: 5em;
}

.wp-details>div { padding: 0.5em; background-color: rgba(255,255,255,0.1); width: 100%; border: 2px solid #222; text-align:center; }
.wp-details .number { font-size: 1.8em;}

.wp-minmax {
    font-size: 1.5em;
    padding: 0.2em 0;
}

.wp-ok .wp-details, .wp-ok .wp-minmax, .wp-ok .wp-main, .wp-ok .click-indicator, .wp-ok .wp-link { display: none; }
.wp-ok .wp-ok { display: block; background-color: #0d8b3c; font-weight: bold; }

.click-indicator {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-size: 1.5em;
    transition: all 0.2s;
    display: none;
}

.bigdatafields .click-indicator { display: block; }

.expanded .click-indicator {
    transform: rotate(180deg);
}

.wp-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
 }

.bigdatafields .wp-link {   
    width: 100%;
    height: 100%;
}

.wp-data, .task-state>div { position: relative; overflow: hidden; }
        .shine {
            position: absolute;
            left: -5%;
            top: -2%;
            width: 110%;
            height: 50%;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
            opacity: 0.05;
}
